
body{
    display: flex;
    background-color:hsl(30, 38%, 92%);
    width:1440px;
    height:1080px;
}
.content{
    text-align: center;
    padding:60px;
}
.image{
    display: flex;
    width:320px;
    height:auto;
    background-size: cover;
    margin-left: 400px;
    float:left;
}
h1{
    font-family:fraunces,serif;
    font-weight: 700;
    position: relative;
    bottom:35px;
}
p{
    font-family: montserrat,sans-serif;
    position: relative;
    bottom:40px;
}
.new-price{
    color: hsl(158, 36%, 37%);
    font-size:2rem;
    font-family: fraunces,serif;
    font-weight: 700;
    position: relative;
    bottom: 10px;
}
.old-price{
    text-decoration: line-through;
    font-size: 16px;
    font-family: fraunces,serif;
    position:relative;
    bottom: 10px;
}
.perfume{
    letter-spacing: 4px;
    padding-top: 20px;
}
.icon{
    margin-right: 8px;
}
.title{
    border-top: -20px;
}
.text{
    display:flex;
    flex-direction: column;
    width:300px;
    height:28.8rem;
    padding-top:20px;
    text-align: left;
    padding-left: 20px;
    background-color:hsl(0, 0%, 100%);  
}
.btn {
    background:  hsl(158, 36%, 37%);
    background-image: -webkit-linear-gradient(top,  hsl(158, 36%, 37%),  hsl(158, 36%, 37%));
    background-image: -moz-linear-gradient(top,  hsl(158, 36%, 37%),  hsl(158, 36%, 37%));
    background-image: -ms-linear-gradient(top,  hsl(158, 36%, 37%),  hsl(158, 36%, 37%));
    background-image: -o-linear-gradient(top,  hsl(158, 36%, 37%),  hsl(158, 36%, 37%));
    background-image: linear-gradient(to bottom,  hsl(158, 36%, 37%),  hsl(158, 36%, 37%));
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    align-self:center;
    margin-left: -20px;
    font-family: montserrat,sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    padding: 10px 25px 10px 25px;
    position: relative;
    bottom: 30px;
    text-decoration: none;
    border:none;
  }
  
  .btn:hover {
    background: hsl(158, 36%, 37%);
    text-decoration: none;
  }
